# 参議院議員選の予測

In [308]:
# モジュールのimport
from pytrends.request import TrendReq
from itertools import zip_longest
from itertools import filterfalse
import pandas as pd
import csv
import pprint

pytrends = TrendReq(hl='ja-JP', tz=360)

# Google trend APIを利用した検索インタレストの取得

In [ ]:
data = pd.read_excel('2016.xlsx')

In [3]:
df = pd.DataFrame(data["キーワードリスト"])

In [5]:
value_list = df.values.tolist()

list3 = []

for list1 in value_list:
    list2 = list1[0].split(',')
    list3.append(list2)

results = []
group_by = 4

In [6]:
for i in range(len(list3)):
    primary_kw = list3[i][0]
    del list3[i][0]
    kw_list = list3[i]
    chunks = zip_longest(*[iter(kw_list)]*group_by)
    p = lambda x: x is None
    
    merged_df = None
    for elems in list(chunks):
        elems = list(filterfalse(p, elems))
        elems.append(primary_kw)
        pytrends.build_payload(elems, cat=0, timeframe='2016-07-01 2016-07-10', geo='JP', gprop='')
        df = pytrends.interest_over_time()
        # 取得結果のスコアは String になる。 float 変換したいので、True/False　が設定されている`isPartial` を削除して float に変換する。   
        del df['isPartial']
        df = df.astype('float64')
        # dataframe　を primary_kw で最大値で正規化する 
        scaled_dataframe = df.div(df[primary_kw].max(), axis=0)
        if merged_df is None:
            merged_df = scaled_dataframe
        else:
            # ValueError: columns overlap but no suffix specified が発生するので、やむなく、'postgresql' を削除
            del scaled_dataframe[primary_kw]
            merged_df = merged_df.join(scaled_dataframe)

    results.append(merged_df.mean()/merged_df.mean().mean())

In [30]:
results

['徳永エリ'    2.446809
 '鉢呂吉雄'    1.106383
 '柿木克弘'    0.936170
 '森英士'     0.191489
 '長谷川岳'    3.000000
 '佐藤和夫'    0.680851
 '中村治'     0.425532
 '飯田佳宏'    0.531915
 '森山佳則'    0.170213
 '水越寛陽'    0.510638
 dtype: float64, '山崎力'      1.556701
 '三國佑貴'     0.000000
 '田名部匡代'    1.443299
 dtype: float64, '田中真一'     1.156463
 '石川幹子'     0.176871
 '木戸口英司'    1.666667
 dtype: float64, '熊谷大'     1.471805
 '油井哲史'    0.248120
 '桜井充'     1.280075
 dtype: float64, '松浦大悟'    0.206107
 '西野晃'     0.137405
 '石井浩郎'    2.656489
 dtype: float64, '月野薫'     1.037143
 '城取良太'    0.231429
 '舟山康江'    1.731429
 dtype: float64, '岩城光英'    1.763359
 '矢内筆勝'    0.229008
 '増子輝彦'    1.007634
 dtype: float64, '郡司彰'       1.244147
 '小林恭子'      1.078595
 ' 武藤優子 '    1.163880
 '石原順子'      1.063545
 '岡田広'       1.369565
 ' 中村幸樹 '    0.080268
 dtype: float64, '田野辺隆男'    0.672794
 '三觜明美'     0.132353
 '上野通子'     2.194853
 dtype: float64, '堀越啓仁'     0.576355
 '安永陽'      0.177340
 '中曽根弘文'    2.246305
 dtype: float64, '大野元裕'     0.393698
 '西田実仁'     0.225892
 '伊藤岳'      1.968489
 '沢田良'      1.264996
 '関口昌一'     0.548595
 '佐々木知子'    1.877183
 '小島一郎'     0.721147
 dtype: float64, '元栄太一郎'    0.786054
 '小西洋之'     1.229794
 '浅野史子'     0.545166
 '水野賢一'     1.521395
 '猪口邦子'     2.548336
 '高橋正夫'     0.773376
 '香取成知'     0.367670
 '古川裕三'     0.228209
 dtype: float64, '中川雅治'       0.344251
 '竹谷とし子'      0.358595
 '山添拓'        0.645471
 '朝日健太郎'      1.965100
 '蓮舫'         2.538852
 '小川敏夫'       0.579791
 '田中康夫'       0.942161
 '横粂勝仁'       0.289896
 '三宅洋平'      18.915696
 '鈴木麻理子'      0.220321
 '増山麗奈'       0.385561
 '小林興起'       0.192781
 '佐藤香'        0.179011
 '高樹沙耶'       1.390775
 '鈴木信行'       0.302941
 '浜田和幸'       0.234091
 'トクマ'        0.619652
 '鈴木達夫'       0.055080
 '柳澤秀敏'       0.000000
 '佐藤均'        0.013770
 '横堀喜久'       0.027540
 '又吉光雄'       0.123930
 '川上晃司'       0.344251
 '犬丸勝子'       0.165241
 '大槻文彦'       0.013770
 '岩坂行雄'       0.027540
 '原田君明'       0.041310
 '深江孝'        0.000000
 'ひめじけんじ'     0.027540
 ' 鮫島良司 '     0.013770
 '藤代洋行'       0.041310
 dtype: float64, '三浦信祐'      0.083045
 '真山勇一'      1.162630
 '中西健治'      0.913495
 '浅賀由香'      0.290657
 '三原じゅん子'    6.477509
 '金子洋一'      0.788927
 '丹羽大'       1.411765
 '森英夫'       0.207612
 '清水太一'      0.249135
 '佐藤政則'      0.249135
 '片野英司'      0.124567
 '壹岐愛子'      0.041522
 dtype: float64, '中原八一'    1.530151
 '横井基至'    0.158291
 '森裕子'     1.311558
 dtype: float64, '道用悦子'     0.949515
 '吉田かをる'    0.390291
 '野上浩太郎'    1.660194
 dtype: float64, '柴田未来'    1.368557
 '宮元智'     0.201031
 '岡田直樹'    1.430412
 dtype: float64, '横山龍寛'    0.695550
 '白川康之'    0.463700
 '山崎正昭'    1.840749
 dtype: float64, '高野剛'     0.481928
 '米長晴信'    1.108434
 '西脇愛'     0.626506
 '宮沢由佳'    1.783133
 dtype: float64, '若林健太'     0.724138
 '及川幸久'     0.045977
 '杉尾秀哉 '    2.229885
 dtype: float64, '小見山幸治'    1.104255
 '加納有輝彦'    0.638298
 '渡辺猛之'     1.257447
 dtype: float64, '平山佐知子'    1.628319
 '鈴木千佳'     0.371681
 '大嶽創太郎'    1.893805
 '江頭俊満'     0.256637
 '岩井茂樹'     0.849558
 dtype: float64, '斎藤嘉隆'    0.640417
 '里見隆治'    0.443366
 '伊藤孝恵'    3.054299
 '須山初美'    0.394103
 '藤川政人'    1.888410
 '奥田香代'    1.314991
 '平山良平'    0.708072
 '井桁亮'     0.455189
 '中根裕美'    0.101153
 dtype: float64, '山本佐知子'    0.958647
 '野原典子'     0.225564
 '芝博一'      1.815789
 dtype: float64, '林久美子'    2.456897
 '荒川雅司'    0.284483
 '小鑓隆史'    0.258621
 dtype: float64, '福山哲郎'       2.357895
 '大河原寿貴'      0.070175
 ' 大八木光子 '    0.519298
 '二之湯智'       1.052632
 dtype: float64, '浅田均'       0.658537
 '石川博崇'      0.087805
 '高木佳保里'     0.439024
 '渡部結'       0.219512
 '松川るい'      6.607317
 '尾立源幸'      0.175610
 ' 古川秀雄 '    0.131707
 '佐野明美'      0.482927
 '数森圭吾'      0.197561
 dtype: float64, '伊藤孝江'     0.351100
 '片山大介'     2.305557
 '水岡俊一'     1.135224
 '金田峰生'     0.269177
 '末松信介'     1.661874
 '湊侑子'      0.899753
 '下家淳の介'    0.377316
 dtype: float64, '前川清成'    0.415584
 '吉野忠男'    1.246753
 '田中孝子'    0.270130
 '佐藤啓'     2.067532
 dtype: float64, '由良登信'    0.727273
 '西本篤'     0.545455
 '鶴保庸介'    1.727273
 dtype: float64, '福嶋浩彦'    0.524272
 '国領豊太'    0.509709
 '青木一彦'    1.966019
 dtype: float64, '黒石健太郎'    1.000000
 '田部雄治'     0.144737
 '小野田紀美'    1.855263
 dtype: float64, '柳田稔'       1.217760
 ' 灰岡香奈 '    2.998156
 '高見篤己'      0.262050
 ' 中丸啓 '     1.156101
 '宮澤洋一'      0.131025
 '佐伯知子'      0.393074
 '玉田憲勲'      0.841834
 dtype: float64, '纐纈厚'      1.021978
 '河井美和子'    0.274725
 '江島潔'      1.703297
 dtype: float64, '大西聡'     0.565022
 '福山正敏'    0.188341
 '中西祐介'    2.246637
 dtype: float64, '田辺健一'    1.246935
 '中西利恵'    0.133100
 '田中俊秀'    1.239930
 '磯崎仁彦'    1.380035
 dtype: float64, '永江孝子'    1.581395
 '森田浩二'    0.139535
 '山本順三'    1.279070
 dtype: float64, '大家敏志'     2.039268
 '高瀬弘美'     1.166531
 '柴田雅子'     0.950506
 '森上晋平'     0.803610
 '古賀之士'     0.967788
 '竹内信昭'     1.269358
 '石井英俊'     0.679612
 '船戸タキ子'    1.123326
 '吉冨和枝'     0.000000
 dtype: float64, '中村哲治'    1.264977
 '中島徹'     1.548387
 '福岡資麿'    0.186636
 dtype: float64, '西岡秀子'     1.327869
 '江夏正敏'     0.295082
 '金子原二郎'    1.377049
 dtype: float64, '阿部広美'    1.924773
 '木下順子'    0.783398
 '本藤哲哉'    0.778210
 '松村祥史'    0.513619
 dtype: float64, '古庄玄知'    0.769784
 '上田敦子'    0.647482
 '足立信也'    1.582734
 dtype: float64, '読谷山洋司'    0.651394
 '河野一郎'     0.741036
 '松下新平'     1.607570
 dtype: float64, '下町和三'    0.611544
 '坂田英明'    0.929797
 '松沢力'     0.000000
 '野村哲郎'    2.458658
 dtype: float64, '島尻安伊子'    1.965
 '金城竜郎'     0.030
 '伊波洋一'     1.005
 dtype: float64]

In [112]:
res = pd.DataFrame(pd.DataFrame(results).sum())
res.columns = [ "trend"]
res["name"] = res.index
res.name = res.name.str.replace("'", "")
res = res.reset_index(drop = True)
res.head()

      trend  name
0  2.446809  徳永エリ
1  1.106383  鉢呂吉雄
2  0.936170  柿木克弘
3  0.191489   森英士
4  3.000000  長谷川岳

# 候補者データの学習(2016)

In [265]:
election = pd.read_csv("2016_cand_ver2.csv")
election.name = election.name.str.replace("　", "")
#election.status = election.where(election.status >= 2, 1)
election = election.drop(["num_votes", "vote_ratio"], axis = 1)
election.sex = (election.sex == "男")
election.head()

   name  elected  status  area  age    sex party  Recommendation
0  長谷川岳        1       1     1   45   True    自民               1
1  徳永エリ        1       1     1   54  False    民進               1
2  鉢呂吉雄        1       0     1   68   True    民進               1
3  柿木克弘        0       0     1   48   True    自民               1
4   森英士        0       0     1   38   True    共産               0

In [267]:
# 党の整理
election.party = election.party.str.replace("おおさか維新の会", "維新").replace("維新政党新風", "維新")
election.party = election.party.str.replace("こころ", "s").replace("支持政党なし",
                              "s").replace("国民怒りの声", "s").replace("新党改革","s").replace("世界経済共同体党",
                              "s").replace("犬丸勝子と共和党", "s").replace("地球平和党", "s").replace("チャレンジド日本",
                              "s").replace("減税日本", "s").replace("S", "s")
pd.unique(election.party)

array(['自民', '民進', '共産', 's', '無所属', '幸福', '維新', '公明', '社民'], dtype=object)

In [269]:
# 検索トレンドと候補者データのmerge
final = pd.merge(election, res, on = "name", how = "left")
final= final.fillna(0)
final.head()

   name  elected  status  area  age    sex party  Recommendation     trend
0  長谷川岳        1       1     1   45   True    自民               1  3.000000
1  徳永エリ        1       1     1   54  False    民進               1  2.446809
2  鉢呂吉雄        1       0     1   68   True    民進               1  1.106383
3  柿木克弘        0       0     1   48   True    自民               1  0.936170
4   森英士        0       0     1   38   True    共産               0  0.191489

In [270]:
#　学習用データ（説明変数）の作成
party = pd.get_dummies(final["party"])
party.head()
X = pd.merge(final.drop(['name', 'party','elected', 'area'],axis=1), party, left_index=True, right_index=True)
X.head()

14

In [271]:
# 学習用モジュールインポート
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [323]:
# target
Y = final.elected
# ロジスティック回帰モデルのインスタンスを作成
lr = LogisticRegression()
# ロジスティック回帰モデルの重みを学習
lr.fit(X, Y)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [324]:
#学習のスコア表示
lr.score(X, Y)

0.8348214285714286

# 2019年の予測

In [317]:
#データの読み込み
data_19 = pd.read_csv("candidates_19.csv")
data_19.head()

   num district_J   name sex  age party  recommendaton  status
0    0        北海道   森山佳則   m   52    幸福              0       0
1    1        北海道  高橋はるみ   f   65    自民              1       0
2    2        北海道   畠山和也   m   47    共産              0       0
3    3        北海道   岩瀬清次   m   66   労働者              0       0
4    4        北海道   岩本剛人   m   54    自民              1       0

In [318]:
#　党の整理
data_19.party = data_19.party.str.replace("立憲", "民進").replace("国民", "民進")
data_19.party = data_19.party.str.replace("安楽", "s").replace("労働者",
                              "s").replace("町田", "s").replace("高橋","s").replace("N国",
                              "s").replace("加藤", "s").replace("オリーブ", "s").replace("れいわ",
                              "s").replace("日本無党派党", "s")
data_19.head()

   num district_J   name sex  age party  recommendaton  status
0    0        北海道   森山佳則   m   52    幸福              0       0
1    1        北海道  高橋はるみ   f   65    自民              1       0
2    2        北海道   畠山和也   m   47    共産              0       0
3    3        北海道   岩瀬清次   m   66     s              0       0
4    4        北海道   岩本剛人   m   54    自民              1       0

# 検索トレンドの取得

In [309]:
data = pd.read_excel('2019.xlsx')

In [310]:
df = pd.DataFrame(data["キーワードリスト"])

In [311]:
value_list = df.values.tolist()

list3 = []

for list1 in value_list:
    list2 = list1[0].split(',')
    list3.append(list2)

results = []
group_by = 4

In [312]:
for i in range(len(list3)):
    primary_kw = list3[i][0]
    del list3[i][0]
    kw_list = list3[i]
    chunks = zip_longest(*[iter(kw_list)]*group_by)
    p = lambda x: x is None
    
    merged_df = None
    for elems in list(chunks):
        elems = list(filterfalse(p, elems))
        elems.append(primary_kw)
        pytrends.build_payload(elems, cat=0, timeframe='2019-07-10 2019-07-19', geo='JP', gprop='')
        df = pytrends.interest_over_time()
        # 取得結果のスコアは String になる。 float 変換したいので、True/False　が設定されている`isPartial` を削除して float に変換する。   
        # if 'isPartial' in df.columns:
        if df.empty is not True:
            del df['isPartial']
            df = df.astype('float64')
            # dataframe　を primary_kw で最大値で正規化する 
            scaled_dataframe = df.div(df[primary_kw].max(), axis=0)
            if merged_df is None:
                merged_df = scaled_dataframe
            else:
                # ValueError: columns overlap but no suffix specified が発生するので、やむなく、'postgresql' を削除
                del scaled_dataframe[primary_kw]
                merged_df = merged_df.join(scaled_dataframe)
        else:
            print("---------------")
            print("No Data: ", elems)
            print("---------------")

    if merged_df is not None:
        results.append(merged_df.mean()/merged_df.mean().mean())

---------------
No Data:  ["'田辺徹'", "'山田修路'"]
---------------

In [314]:
#　データ整理
res_19 = pd.DataFrame(pd.DataFrame(results).sum())
res_19.columns = [ "trend"]
res_19["name"] = res_19.index
res_19.name = res_19.name.str.replace("'", "")
res_19 = res_19.reset_index(drop = True)
res_19.head()

      trend   name
0  3.129319  高橋はるみ
1  0.994121   畠山和也
2  0.000000   岩瀬清次
3  1.374480   岩本剛人
4  0.501383   森山佳則

In [319]:
#　候補者データと検索トレンドをmerge
final_19 = pd.merge(data_19, res_19, on = "name", how = "left")
final_19= final_19.fillna(0)
final_19.head()

   num district_J   name sex  age party  recommendaton  status     trend
0    0        北海道   森山佳則   m   52    幸福              0       0  0.501383
1    1        北海道  高橋はるみ   f   65    自民              1       0  3.129319
2    2        北海道   畠山和也   m   47    共産              0       0  0.994121
3    3        北海道   岩瀬清次   m   66     s              0       0  0.000000
4    4        北海道   岩本剛人   m   54    自民              1       0  1.374480

In [322]:
# 説明変数の作成
party_19 = pd.get_dummies(final_19["party"])
X_19 = pd.merge(final_19.drop(['name', 'party', 'district_J', 'num'],axis=1), party_19, left_index=True, right_index=True)
X_19.sex = (X_19.sex == "m")
X_19.head()

,sex,age,recommendaton,status,trend,s,公明,共産,幸福,民進,無所属,社民,維新,自民
0,True,52,0,0,0.501383,0,0,0,1,0,0,0,0,0
1,False,65,1,0,3.129319,0,0,0,0,0,0,0,0,1
2,True,47,0,0,0.994121,0,0,1,0,0,0,0,0,0
3,True,66,0,0,0.000000,1,0,0,0,0,0,0,0,0
4,True,54,1,0,1.374480,0,0,0,0,0,0,0,0,1

In [325]:
# 学習モデルを用いた当選確率の予測
prob = lr.predict_proba(X_19)[:, 1]
prob

array([0.158742  , 0.50235483, 0.3621762 , 0.20174061, 0.74296335,
       0.70635213, 0.24673567, 0.37815342, 0.20505149, 0.06710085,
       0.75969601, 0.59558288, 0.25242076, 0.75884715, 0.20369219,
       0.20309021, 0.7613876 , 0.29612055, 0.82600095, 0.12008838,
       0.20490012, 0.57170761, 0.24997479, 0.20429549, 0.52593273,
       0.08597857, 0.23601316, 0.28800128, 0.57050237, 0.60183129,
       0.12614082, 0.76884679, 0.20565778, 0.18877499, 0.04820443,
       0.78260742, 0.29476714, 0.06745056, 0.37684378, 0.33056393,
       0.85009167, 0.55467489, 0.20203994, 0.67937401, 0.81977391,
       0.15074872, 0.06827313, 0.79655594, 0.68705021, 0.78649527,
       0.20084461, 0.12580124, 0.25032349, 0.64301333, 0.49173961,
       0.85346702, 0.91175473, 0.21155181, 0.33931208, 0.68340697,
       0.16665054, 0.3751004 , 0.32879559, 0.20736463, 0.15087743,
       0.61411738, 0.06238836, 0.20024893, 0.20278972, 0.31884302,
       0.21926558, 0.19995159, 0.25007928, 0.75680284, 0.75390698,
       0.14733936, 0.04900315, 0.31904478, 0.32045901, 0.20129224,
       0.44880564, 0.20520294, 0.20339103, 0.87084304, 0.14059122,
       0.65884537, 0.20550608, 0.09226068, 0.81332624, 0.20520294,
       0.59625387, 0.75867713, 0.75884715, 0.59625387, 0.33221036,
       0.20474884, 0.76189348, 0.82304443, 0.08715369, 0.20641751,
       0.74784096, 0.20129224, 0.72717291, 0.20520294, 0.82331483,
       0.59848791, 0.20459764, 0.75969601, 0.67998069, 0.73661433,
       0.1230194 , 0.20429549, 0.81359819, 0.20189024, 0.73535093,
       0.12382332, 0.20189024, 0.37778191, 0.32472147, 0.25743097,
       0.81825942, 0.37662568, 0.20444653, 0.06803716, 0.53554602,
       0.06721723, 0.28065732, 0.20490012, 0.08510667, 0.76273497,
       0.20776107, 0.80207543, 0.16887818, 0.34771381, 0.20596142,
       0.20369219, 0.55846774, 0.61784396, 0.06745056, 0.29592699,
       0.68078864, 0.8905466 , 0.25921054, 0.20444653, 0.15182207,
       0.397249  , 0.20144161, 0.20459764, 0.81218544, 0.29670169,
       0.7770252 , 0.61937797, 0.33179837, 0.05489366, 0.79883739,
       0.08590561, 0.25605973, 0.79962557, 0.8256001 , 0.08481782,
       0.2065697 , 0.78870245, 0.65087186, 0.20490012, 0.4877603 ,
       0.20174061, 0.34111322, 0.33336919, 0.20129224, 0.35584739,
       0.80135571, 0.83145638, 0.32289109, 0.05065497, 0.59915733,
       0.20189024, 0.76239862, 0.3286032 , 0.32167385, 0.08678491,
       0.76020435, 0.20474884, 0.75178335, 0.13681086, 0.20490012,
       0.37444747, 0.20414454, 0.12392412, 0.20369219, 0.81033657,
       0.06571879, 0.65925995, 0.15039232, 0.81922433, 0.80676984,
       0.65863372, 0.82452759, 0.29708948, 0.20520294, 0.7834533 ,
       0.1090507 , 0.20596142, 0.79471198, 0.28840851, 0.20550608,
       0.78434795, 0.18528275, 0.60004932, 0.32126863, 0.0873016 ,
       0.75663055, 0.80307113, 0.32248508, 0.20084461, 0.32350062])